@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- Demo Reel and Intro -->

<div class="text-center bg-info container-fluid align-self-sm-center d-block">

    <h1 class="display-4">Sasha Gordon Greene</h1>
    <h3>Gameplay Programmer / Designer</h3>
    <br />
    <div class="p-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HuTNV9EbJnY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>

<!-- Temple Explorers-->


<div class="text-center bg-Primary p-5 container-fluid d-flex align-content-end ">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sOMa8IFYDME" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <div class="">

        <h2 class="text-light">Temple Explorer</h2>
        <p class="alert-primary">
            Temple Explorer is a 3rd person Adventure Game.
            It was created in Unreal Engine using a combination of C++ and Blueprints
        </p>
    </div>
   
    
</div>

<!-- Jeller Fellers -->

<div class="text-center bg-info p-5 container-fluid d-flex align-content-end ">

    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/d3PH3DZpqWk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="">
        <h2 class="text-light">Jeller Fellers</h2>
        <p class="alert-primary">
           Jeller Fellers is a 3D physics based platformer.
           It was made in Unity using C#
        </p>
    </div>
</div>

<!-- Bok-Mon -->

<div class="text-center bg-primary p-5 container-fluid d-flex align-content-end  ">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QissKOG5PPU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="">
        <h2 class="text-light">Bok-Mon</h2>
        Bok-Mon is an action arcade style game inspired by Pac-Man.
        Made in Unreal using Blueprints
    </div>
</div>



  
    

